// screens
$desktop-lg = 1920px
$desktop = 1600px
$tablet = 1024px
$mobile = 768px

// size
$main-size = 4px
$size-x2 = $main-size * 2
$size-x3 = $main-size * 3
$size-x4 = $main-size * 4
$size-x5 = $main-size * 5
$size-x6 = $main-size * 6
$size-x7 = $main-size * 7
$size-x8 = $main-size * 8
$size-x9 = $main-size * 9
$size-x10 = $main-size * 10
$max-width-m = 540px

// colors
$color-shuttle-gray = #5C6975
$color-malibu = #63B9FB
$color-caribbean-green = #00BE7F
$color-coral-red = #FF4040
$color-violet = #250A37
$color-persimmon = #FF6347
$color-silver = #C5C5C5
$color-mustard = #FFDA58
$color-cod-gray = #1C1C1C
$color-blue-gem = #3F0CA3
$color-gallery = #EEEEEE
$color-china-ivory = #FBFFE5